
<app-logout></app-logout>

<div class="table btns">

  <section class="btn-place">

    <a href="" class="btn">ADD</a>
<!--    Here could be used (change) instead of (input) but then should be click outside of the field-->
    <input (input)="onFieldsChange()" class="field" type="text" name="firstName" id="firstName" placeholder="First name">
    <input (input)="onFieldsChange()" class="field" type="text" name="lastName" id="lastName" placeholder="Last name">

  </section>

  <section class="table-main">

  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
      <th>Phone Number</th>
      <th>Buttons</th>
    </tr>

    @for (item of user; track item.id; let idx = $index, e = $even) {
      <tr>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.emailAddress }}</td>
        <td>{{ item.phoneNumber }}</td>
        <td >
          <a (click)="editBtnClick(idx, $event)" href="#"  class="btn">Edit</a>
          <a (click)="removeBtnClick(idx, $event)" href="#"  class="btn">Remove</a>
        </td>
      </tr>
    } @empty {
      <span>No items.</span>
    }


  </table>

  </section>
</div>



<app-table-add *ngIf="viewAddTable" ></app-table-add>

<app-table-edit *ngIf="viewEditTable"></app-table-edit>
